.form__field {
  text-align: right;
  font-size: vw($mobile, 18px);
  color: $defaultText;
  border: 0;
  max-width: 50%;

  @media screen and (min-width: $tablet) {
    font-size: rem(24);
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: rem(4);
  }

  &:focus {
    outline: none;
  }
  &--fee {
    @media screen and (min-width: $desktop) {
      max-width: 41%;
    }
  }
  &--total {
    color: $blueLight;
    max-width: 63%;
  }
}