.calc {
  &__title {
    margin-bottom: vw($mobile, 20px);

    @media screen and (min-width: $tablet) {
      margin-bottom: rem(15);
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: rem(24);
    }
  }

  &__btn-more {
    display: block;
    margin: vw($mobile, 30px) auto vw($mobile, 18px);
    width: vw($mobile, 200px);

    @media screen and (min-width: $tablet) {
      margin: rem(30) 0 0;
      width: rem(200);
    }
    @media screen and (min-width: $desktop) {
      margin-top: rem(70);
    }
  }
}

.form {
  @media screen and (min-width: $desktop) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  @media screen and (min-width: $desktopMax) {
    padding-right: rem(102);
  }

  &__column {
    @media screen and (min-width: $desktop) {
      width: 47.2%;
    }
    @media screen and (min-width: $desktopMax) {
      width: 44.3%;
    }

    & + & {
      @media screen and (max-width: $desktop - 1px) {
        margin-top: rem(20);
      }
    }
  }

  &__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: vw($mobile, 10px) vw($mobile, 25px) vw($mobile, 10px) vw($mobile, 10px);
    height: vw($mobile, 60px);
    border: 1px solid $grayLight;

    @media screen and (min-width: $tablet) {
      padding: rem(10) rem(62) rem(10) rem(20);
      height: rem(60);
    }
    @media screen and (min-width: $desktop) {
      padding-left: rem(34);
    }

    & + & {
      margin-top: vw($mobile, 20px);

      @media screen and (min-width: $tablet) {
        margin-top: rem(20);
      }
    }

    &--rub, &--usd {
      &:after {
        display: flex;
        align-items: center;
        position: absolute;
        right: vw($mobile, 8px);
        top: 0;
        bottom: 0;
        font-size: vw($mobile, 18px);

        @media screen and (min-width: $tablet) {
          right: rem(40);
          font-size: rem(24);
        }
      }
    }
    &--rub {
      &:after {
        content: "\20BD";
      }
    }
    &--usd {
      &:after {
        content: "\0024";
      }
    }
    &--result {
      @media screen and (min-width: $desktop) {
        border-width: 0 0 1px;
        padding: 0 rem(24) 0 0;
        align-items: flex-end;

        &:after {
          bottom: rem(4);
          right: rem(1);
          align-items: flex-end;
        }
      }
    }
    &--total {
      &:after {
        color: $blueLight;
      }
    }
  }

  &__label {
    line-height: 1.45;
    font-size: vw($mobile, 12px);
    color: $grayDark;

    @media screen and (min-width: $tablet) {
      font-size: rem(12);
    }
  }

  &__field {
    text-align: right;
    font-size: vw($mobile, 18px);
    color: $defaultText;
    border: 0;
    max-width: 50%;

    @media screen and (min-width: $tablet) {
      font-size: rem(24);
      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    @media screen and (min-width: $desktop) {
      padding-bottom: rem(4);
    }

    &:focus {
      outline: none;
    }
    &--fee {
      @media screen and (min-width: $desktop) {
        max-width: 41%;
      }
    }
    &--total {
      color: $blueLight;
      max-width: 63%;
    }
  }

  &__range {
    margin-top: rem(34);

    @media screen and (max-width: $desktop - 1px) {
      display: none;
    }
  }
}
