.slider {
  position: relative;
  margin-bottom: vw($mobile, 38px);
  color: $bluePrimary;

  @media screen and (min-width: $tablet) {
    margin-bottom: rem(76);
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: rem(136);
  }

  strong {
    font-weight: 500;
  }

  &__title {
    margin-bottom: vw($mobile, 20px);

    @media screen and (max-width: $tablet - 1px) {
      font-size: vw($mobile, 24px);
    }
    @media screen and (min-width: $tablet) {
      margin-bottom: rem(20);
      line-height: 1.11;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: rem(40);
    }
  }

  &__item {
    display: none;
    padding-top: vw($mobile, 18px);
    padding-bottom: vw($mobile, 40px);
    background-repeat: no-repeat;
    background-size: vw($mobile, 320px) auto;

    @media screen and (min-width: $tablet) {
      margin-top: rem(-64);
      padding-top: rem(80);
      padding-bottom: rem(60);
      background-position: bottom right;
      background-size: rem(370) auto;
    }
    @media screen and (min-width: $desktop) {
      padding-top: rem(120);
      padding-bottom: rem(40);
      background-size: rem(452) auto;
    }
    @media screen and (min-width: $desktopMax) {
      background-size: rem(588) auto;
    }

    &--active {
      display: block;
    }

    &--slide1 {
      background-image: url("../../images/slide1-320@2x.png");
      background-position: bottom vw($mobile, 108px) center;

      @media screen and (min-width: $tablet) {
        background-image: url("../../images/slide1-768@2x.png");
        background-position: bottom right rem(38);
      }
      @media screen and (min-width: $desktop) {
        background-image: url("../../images/slide1-1024.png");
        background-position: bottom right;
      }
      @media screen and (min-width: $desktopMax) {
        background-image: url("../../images/slide1-1200.png");
        background-position: bottom right rem(-64);
      }
    }

    &--slide2 {
      background-image: url("../../images/slide2-320@2x.png");
      background-position: bottom vw($mobile, 108px) center;

      @media screen and (min-width: $tablet) {
        background-image: url("../../images/slide2-768@2x.png");
        background-position: bottom right;
      }
      @media screen and (min-width: $desktop) {
        background-image: url("../../images/slide2-1024.png");
      }
      @media screen and (min-width: $desktopMax) {
        background-image: url("../../images/slide2-1200.png");
      }
    }
  }

  &__content {
    @media screen and (min-width: $tablet) {
      max-width: calc(100% - 300px);
    }
    @media screen and (min-width: $desktop) {
      max-width: calc(100% - 500px);
    }
    @media screen and (min-width: $desktopMax) {
      max-width: calc(100% - 550px);
    }
  }

  &__list {
    margin-top: vw($mobile, 20px);

    @media screen and (min-width: $tablet) {
      margin-top: rem(20);
    }

    &-item {
      position: relative;
      padding-left: vw($mobile, 22px);

      @media screen and (min-width: $tablet) {
        padding-left: rem(32);
      }

      & + li {
        margin-top: vw($mobile, 20px);

        @media screen and (min-width: $tablet) {
          margin-top: rem(20);
        }
      }

      &:before {
        content: "";
        position: absolute;
        top: vw($mobile, 2px);
        left: 0;
        width: vw($mobile, 12px);
        height: vw($mobile, 12px);
        border-radius: 50%;

        @media screen and (min-width: $tablet) {
          top: rem(2);
          width: rem(12);
          height: rem(12);
        }
      }
    }
  }

  &__btn {
    display: block;
    margin: vw($mobile, 292px) auto vw($mobile, 18px);
    width: vw($mobile, 200px);

    @media screen and (min-width: $tablet) {
      margin: rem(52) 0 0;
      width: rem(200);
    }
    @media screen and (min-width: $desktop) {
      margin-top: rem(32);
    }
  }

  &__nav-container {
    position: relative;
  }

  &__dots {
    position: absolute;
    bottom: vw($mobile, 24px);
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;

    @media screen and (min-width: $tablet) {
      bottom: rem(28);
    }
    @media screen and (min-width: $desktop) {
      display: none;
    }

    &-item {
      padding: 0 vw($mobile, 6px);

      @media screen and (min-width: $tablet) {
        padding: 0 rem(6);
      }

      &:before {
        content: "";
        display: block;
        width: vw($mobile, 8px);
        height: vw($mobile, 8px);
        border-radius: 50%;
        background-color: $defaultText;

        @media screen and (min-width: $tablet) {
          width: rem(8);
          height: rem(8);
        }
      }
    }
  }

  &__tabs {
    display: none;
    font-size: vw($mobile, 11px);
    line-height: 1.45;

    @media screen and (min-width: $tablet) {
      font-size: rem(11);
    }
    @media screen and (min-width: $desktop) {
      position: absolute;
      bottom: rem(-60);
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
    }

    &-item {
      text-align: center;
      background-color: $grayLightest;

      @media screen and (min-width: $desktop) {
        padding: rem(15) 0;
        width: rem(146);
      }
      @media screen and (min-width: $desktopMax) {
        padding: rem(15) rem(17);
        width: rem(180);
      }

      &:not(.active) {
        cursor: pointer;
      }
    }
  }

  &--active-1 {
    &, .slider__tabs-item--active {
      background-color: $yellowLight;
    }
    .slider__list-item, .slider__dots-item--active {
      &:before {
        background-color: $yellow;
      }
    }
  }
  &--active-2 {
    &, .slider__tabs-item--active {
      background-color: $pinkLight;
    }
    .slider__list-item, .slider__dots-item--active {
      &:before {
        background-color: $pink;
      }
    }
  }
  &--active-3 {
    &, .slider__tabs-item--active {
      background-color: $turquoiseLight;
    }
    .slider__list-item, .slider__dots-item--active {
      &:before {
        background-color: $turquoise;
      }
    }
  }
}
